Resources/haskell-style-guide/
Resources/OneDrive shared student folders/DoC Secret Revision Folder/MSc Computing/SED/2019Exam/
Practicals/Practical 1/haskellsequences_anb122/
Practicals/Practical 2/haskellcrypto_anb122/
Practicals/Practical 3/haskellmacroprocessor_anb122/
Practicals/Practical 4/haskelllsystems_anb122/
