Resources/haskell-style-guide/
Resources/OneDrive shared student folders/DoC Secret Revision Folder/MSc Computing/SED/2019Exam/
Practicals/Haskell/Practical 1/haskellsequences_anb122/
Practicals/Haskell/Practical 2/haskellcrypto_anb122/
Practicals/Haskell/Practical 3/haskellmacroprocessor_anb122/
Practicals/Haskell/Practical 4/haskelllsystems_anb122/
Practicals/Haskell/Practical 5/haskellcalculus_anb122/
Practicals/Haskell/Practical 5/Attempt 2/haskellcalculus_anb122/
Practicals/Haskell/Practical 6/haskelltictactoe_anb122/
Practicals/Kotlin/Practical 7/kotlinwebserver_anb122/
Practicals/Kotlin/Practical 8/kotlinjourneyplanner_anb122/
Resources/Kotlin/kotlin-lectures/
Practicals/Kotlin/Practical 9/kotlinsearchengine_anb122/
Practicals/Kotlin/Practical 10/kotlinpawnrace_anb122/
Practicals/Kotlin/Practical 10/kotlinpawnrace_autorunner/
Practicals/Haskell/Practical 2/Attempt 2/haskellcrypto_anb122/
Practicals/Haskell/Practical 1/haskellsequences_anb122_submitted/
Practicals/Haskell/Haskell Labs Rohan Mathew/
Practicals/Haskell/Haskell Labs Ryan Song/
Practicals/Kotlin/Practical 11/
Practicals/Kotlin/Practical 12/
Practicals/Kotlin/Practical 13/
Practicals/Kotlin/Practical 14/
Practicals/Kotlin/Practical 15/
Practicals/Kotlin/Practical 16/
Practicals/Kotlin/Practical 17/
Practicals/Kotlin/Practical 18/
Exams/Practice Tests/Haskell/Interim 23:24/haskellinterimtest_anb122/
Ethics project/
Exams/Lexis tests/Haskell/haskellfinaltest_anb122/
