Resources/haskell-style-guide/
Resources/OneDrive shared student folders/DoC Secret Revision Folder/MSc Computing/SED/2019Exam/
Practicals/Practical 1/haskellsequences_anb122/
Practicals/Practical 2/haskellcrypto_anb122/
Practicals/Practical 3/haskellmacroprocessor_anb122/
Practicals/Practical 4/haskelllsystems_anb122/
Practicals/Practical 5/haskellcalculus_anb122/
Practicals/Practical 6/haskelltictactoe_anb122/
Practicals/Practical 7/kotlinwebserver_anb122/
Practicals/Practical 8/kotlinjourneyplanner_anb122/
Resources/Kotlin/kotlin-lectures/
Practicals/Practical 9/kotlinsearchengine_anb122/
